@import "partials/mixins";
@import "partials/variables";


/*
Theme Name: Tilt
Description: Adds support for languages written in a Right To Left (RTL) direction.

-----------------------------------------------------------------

	01.	Reset Stylesheet
	02.	Base Styles
	03.	Nonsemantic Base Styles
	04.	Header
	05.	Menu
	06.	Content
	07.	Images
	09.	Comments
	09.	Footer
	10.	Widgets
	11.	Plugins
	12.	Responsive styles

-----------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 01. Reset Stylesheet
/*---------------------------------------------------------------*/
body {
	direction:rtl;
	unicode-bidi:embed
}

/*---------------------------------------------------------------*/
/* 02. Base Styles
/*---------------------------------------------------------------*/
/* Definition list */
dt {
	float:right;
	clear:right;
	text-align:left
}

dd {
	margin:0 150px 0 0
}

/* Bloquote */
blockquote cite:before {
	padding-right:0;
	padding-left:5px
}

/* Form style */
.ie6 legend,.ie7 legend {
	margin-left:0;
	margin-right:-7px
}

/* List style */
ul,ol {
	margin-left:0;
	margin-right:1.8em
}

ol {
	list-style:decimal
}

ol,ul.square,ul.circle,ul.disc,ul {
	margin-left:0;
	margin-right:30px
}

ul ul,ul ol,ol ol,ol ul {
	margin:4px 30px 5px 0
}

/*---------------------------------------------------------------*/
/* 03. Nonsemantic Base Styles
/*---------------------------------------------------------------*/
/* For image replacement */
.ir {
	text-indent:999em;
	text-align:right;
	direction:rtl
}

/*---------------------------------------------------------------*/
/* 04. Header
/*---------------------------------------------------------------*/
/* Logo */
#site-logo {
	left:auto;
	right: 30px;
}

.full-width #site-logo {
	left:auto;
	right:40px
}

/* Page title */
.page-header {

	a, .separator {
		float: right;
	}

	.separator {
		margin: 0 3px;
	}
}

/*---------------------------------------------------------------*/
/* 05. Menu
/*---------------------------------------------------------------*/
.full-width #site-navigation {
	margin-right:0;
}

#site-navigation {
	float:left;

	.menu-container {
		float:right;

		ul li {
			float:right;
		}
	}

	.search_button {
		margin-left:0;
	}

	.header-buttons {
		float: left;
	}

	.header_cart_link {
		margin-left:0;

		.cart_product_count {
			left: 0;
			right: auto;
		}
	}
}

/* Sub-level */
#site-navigation ul li {

	&:hover > ul {
		visibility: visible
	}

	ul {
		left: 0;
		right: auto;

		li ul {
			left: auto;
			right: 210px;

			 li a {
				padding-left: 0;
				padding-right: 20px;
			}
		}
	}
}

#site-navigation .menu-container > ul > li.megamenu > .sub-menu {
	left: 0;
	right: auto;
}

#site-header.submenu-dark #site-navigation .menu-container > ul > li.megamenu > ul > li {
	 border-right: none;
	 border-left: 1px solid rgba(255,255,255,.1);

	 &:last-child {
		 border-left: none;
	 }
 }

#site-header.submenu-light #site-navigation .menu-container > ul > li.megamenu > ul > li {
	border-right: none;
	border-left: 1px solid $grey-border;

	&:last-child {
		border-left: none;
	}
}

/* Mobile menu */
.toggle-mobile-menu {
	right: auto;
	left: 30px
}

.mm-menu .mm-list > li > a {
	text-align: left;
}

/* Mega menu */
#site-navigation ul li.megamenu > ul {
	left:auto;
	right:0
}

#site-navigation ul li.megamenu ul li ul {
	left:auto;
	right:0
}

/*---------------------------------------------------------------*/
/* 06. Content
/*---------------------------------------------------------------*/

/*
Blog posts
*/

blockquote {
	margin-right: 20px;
	margin-left: 0;
	padding-right: 20px;
	padding-left: 0;
	border-left: none;
	border-right: 2px solid;
}

body.blog-tiled, body.blog-clear, body.blog-tilt {
	#content {
		article.post-entry {
			.entry-meta, .entry-meta-footer {

				.meta-author {
					float: right;

					a {
						float: left;
						padding-right: 3px;
					}

					i {
						margin-left: 5px;
						margin-right: 0;
					}
				}

				.meta-category {
					float: right;

					i {
						margin-left: 5px;
						margin-right: 0;
					}
				}

				.meta-comments {
					float: right;

					i {
						margin-left: 5px;
						margin-right: 0;
					}
				}

				.meta-date {
					float: right;
				}
			}
		}
	}
}

.entry-meta-footer {

	span:before {
		content: "|";
		display: inline-block;
		padding: 0 5px;
	}

	span:after {
		content: "";
		display: none;
	}

	span:first-of-type:before {
		display:none;
	}
}

@media only screen and (min-width: 980px) {

	.entry-meta-footer {
		span:before {
			display: none;
		}
		span:after {
			display: none;
		}
	}

	//Tiled template
	body.blog-tiled {
		#content {
			padding-right: 200px;
			padding-left: 0;

			article.post-entry {

				.entry-meta, .entry-meta-footer {
					left: 100%;
					right: auto;
					margin: 0 0 0 30px;
					text-align: right;

					.vline-wrapper {
						right: 10px;
						left: auto;
					}

					.hline-wrapper {
						right: 0px;
						left: auto;
						padding-right: 60px;
						padding-left: 0;
						margin-right: 15px;
						margin-left: 0;
					}

					.meta-author {
						padding-right: 30px;
						padding-left: 0;

						i {
							margin-left: 5px;
							margin-right: 0;
						}
					}

					.meta-category {
						padding-right: 30px;
						padding-left: 0;


						i {
							margin-left: 5px;
							margin-right: 0;
						}
					}

					.meta-comments {
						padding-right: 30px;
						padding-left: 0;


						i {
							margin-left: 5px;
							margin-right: 0;
						}
					}
				}
			}
		}
	}

	//Clear template
	body.blog-clear {
		#content {
			article.post-entry {
				padding-right: 200px;
				padding-left: 0;

				.entry-meta, .entry-meta-footer {
					right: 0;
					left: auto;
					margin: 30px 0 0 30px;
					text-align: left;

					.meta-author {
						padding-left: 10px;
						float: none;

						a {
							float: left;
							padding-right: 3px;
						}

						i {
							margin-left: 5px;
							margin-right: 0;
						}
					}

					.meta-category {
						padding-left: 10px;
						float: none;

						i {
							margin-left: 5px;
							margin-right: 0;
						}
					}

					.meta-comments {
						padding-left: 10px;
						float: none;

						i {
							margin-left: 5px;
							margin-right: 0;
						}
					}

					.meta-date {
						padding-left: 10px;
						float: none;
					}
				}
			}
		}
	}


	//TiLT template
	body.blog-tilt {
		#content {
			article.post-entry {
				.entry-meta, .entry-meta-footer {
					right: 60px;
					text-align: right;

					.meta-author {
						padding-left: 10px;
						float: right;

						a {
							float: left;
							padding-right: 3px;
						}

						i {
							margin-left: 5px;
							margin-right: 0;
						}
					}

					.meta-category {
						padding-left: 10px;
						float: right;

						i {
							margin-left: 5px;
							margin-right: 0;
						}
					}

					.meta-comments {
						padding-left: 10px;
						float: right;

						i {
							margin-left: 5px;
							margin-right: 0;
						}
					}

					.meta-date {
						float: none;
					}
				}
			}
		}
	}
}

/* Post types */
#main #content {
	article.format-quote {
		.quoute-text {
			border-left: none;
			border-right: 2px solid;
			padding: 0 15px 0 0;
		}
	}
	article.format-link {
		.link-text {
			border-left: none;
			border-right: 2px solid;
			padding: 0 15px 0 0;
		}
	}
	article.format-status {
		.status-text {
			.entry-title {
				border-left: none;
				border-right: 2px solid;
				padding: 0 15px 0 0;
			}
		}
	}
}


/* Meta */
.entry-meta-footer .meta-date:before {
	margin-left:0;
	margin-right:1px
}

.tag-links {
	margin-bottom:5px;

	&:before {
		margin-left:0;
		margin-right:1px
	}

	span {
		margin-left:5px;
		margin-right:0;

		&:after {
			margin-left:0;
			margin-right:2px
		}

		&:last-child:after {
			margin-right:0;
			margin-left:inherit
		}
	}
}


/* Page links */
.page-links span {
	padding-right:0;
	padding-left:5px
}

.post-arrows {
	.button-wrapper-left {
		float: right;
		-webkit-perspective-origin: 0% 50%;
		perspective-origin: 0% 50%;

		.previous_post_link {
			right: 100%;
			left: auto;
			transform-origin: right center;
			transform: rotateY(-90deg);

			a {
				text-align: right;
			}
		}

		&:hover {
			@include translate(40px, 0);

			.previous_post_link {
				transform: rotateY(0deg);
			}
		}
	}

	.button-wrapper-right {
		float: left;
		-webkit-perspective-origin: 100% 50%;
		perspective-origin: 100% 50%;

		.next_post_link {
			left: 100%;
			right: auto;
			transform-origin: left center;
			transform: rotateY(90deg);

			a {
				text-align: left;
			}
		}
		&:hover {
			@include translate(-40px,0);

			.next_post_link {
				transform: rotateY(0deg);
			}
		}
	}
}

/* Author info */
.author-area {

	.author-image {
		float: right;
	}

	.author-bio {
		margin-right: 200px;
		margin-left: 0;
	}
}

/* Search result page */
.search-results article .entry-title:before {
	padding-right:0;
	padding-left:8px;
	margin-left:0;
	margin-right:1px
}

/*---------------------------------------------------------------*/
/* 07. Images
/*---------------------------------------------------------------*/
img.alignleft {
	margin-left:1em;
	margin-right:0
}

img.alignright {
	margin-left:0;
	margin-right:1em
}

.wp-caption.alignleft {
	margin-left:1em;
	margin-right:0
}

.wp-caption.alignright {
	margin-left:0;
	margin-right:1em
}

/* WordPress Captions */
.wp-caption .wp-caption-text {
	margin:-.5em 0 .25em .25em
}

.wp-caption figcaption {
	text-align:right
}

/* WordPress Gallery (some parts adapted from Twenty Fourteen by the WordPress team http://wordpress.org/themes/twentyfourteen) */
.gallery-item {
	float:right
}

.gallery-caption {
	left:auto;
	right:0;
	text-align:right
}

/*---------------------------------------------------------------*/
/* 08. Comments
/*---------------------------------------------------------------*/
/* Comment list */
#comments .comment-list .children {
	padding-left:0;
	padding-right:30px
}

#comments .comment-body {
	padding:0 80px 30px 0
}

#comments .comment-author img {
	float:right;
	margin-right:0;
	margin-left:20px
}

#comments .reply {
	right:auto;
	left:40px
}

/* Pingbacks and trackbacks */
#comments .pingback .comment-body:before {
	padding-left:8px;
	padding-right:0
}

/* Comment form */
#comments h3.comment-reply-title #cancel-comment-reply-link {
	float:left;
	margin-right:0;
	margin-left:2px
}

/* Comment form columns */
.col_container .col_3 {
	float:right;
	padding-right:0;
	padding-left:20px
}

.col_container .col_3:last-child {
	padding-right:inherit;
	padding-left:0
}

/*---------------------------------------------------------------*/
/* 09. Footer
/*---------------------------------------------------------------*/
/* Scroll to top button */
.scrollToTop {
	left: 15px;
	right: auto;
}

/*---------------------------------------------------------------*/
/* 10. Widgets
/*---------------------------------------------------------------*/
/* Default widget style */
.widget ul ul li {
	margin-left:0;
	margin-right:15px
}

/* Copyright widget style */
.site-info .widget {
	float:right;
	margin-left:40px;
	margin-right:0
}

.site-info .widget-title {
	display:none
}

.site-info .recentcomments {
	padding-left:0;
	padding-right:10px
}

.site-info .recentcomments:first-child {
	padding-left:inherit;
	padding-right:0px
}

.site-info ul li {
	margin-left:10px;
	margin-right:0
}

.site-info ul li:last-child {
	margin-left:0;
	margin-right:inherit
}

.site-info ul ul li a {
	padding:0 0 0 10px
}

/* Top bar widget style */
#top-bar .widget-container {
	margin-left:40px;
	margin-right:0;
}

#top-bar .widget-container:last-child {
	margin-left:0;
	margin-right:inherit
}

#top-bar .widget-title {
	margin-left:10px;
	margin-right:0
}

#top-bar .recentcomments {
	padding-left:0;
	padding-right:10px
}

#top-bar .recentcomments:first-child {
	padding-left:inherit;
	padding-right:0
}

#top-bar ul li {
	float:right;
	margin:0
}

#top-bar ul ul li a {
	padding:0 0 0 10px
}

#top-bar ul ul li a:after {
	margin-left:0;
	margin-right:10px
}

#top-bar ul ul li:last-child a:after {
	margin-right:0;
	margin-right:ingerit
}

#top-bar ul ul li:first-child a {
	padding-left:inherit;
	padding-right:0
}

#top-bar ul ul li:last-child a {
	padding-right:inherit;
	padding-left:0;
	border-left:none
}

#top-bar #topright-widget-area ul {
	float:left
}

/* SINGLE WIDGET STYLES */
/* WP Menu Widget */
#sidebar .widget_nav_menu ul ul li {
	margin-left:15px;
	margin-right:0
}

/* WP Calendar */
#wp-calendar tfoot #next {
	text-align:left
}

#wp-calendar tfoot #prev {
	padding-right:0;
	padding-left:60px
}

.widget_search {
	&:after {
		right: auto;
		left: 15px;
	}
}


/*---------------------------------------------------------------*/
/* 11. Plugins
/*---------------------------------------------------------------*/
/* CORE EXTENSION */

/* Divider */
.separator_wrapper {
	.separator_container {
		a {
			left: 0;
			right: auto;
			text-align: left;
		}
	}
}

/* Testimonials */

.testimonials-slider .flex-control-paging {
	text-align: left;
}

.testimonial-wrapper {
	direction: rtl;
}

.testimonials-style-1 {
	.testimonial-img {
		img {
			float: right;
		}
	}

	.testimonial-author span {
		padding-right: 10px;
		padding-left: 0;
	}
}

.testimonials-style-2 {
	.testimonial-author {
		text-align: right;

		span {
			float: left;
			padding-left: none;
			padding-right: 10px;
		}
	}

	.testimonial-img-2 {
		margin-right: 0;
		margin-left: 20px;
	}
}

.testimonials-style-3 {
	padding-right: 30px;
	padding-left: 0;
	border-right: 3px solid;
	border-left: none;

	.testimonial-wrapper {
		text-align: right;
	}

	.testimonial-author {
		text-align: right;

		span {
			float: left;
			padding-right: 5px;
			padding-left: 0;
		}
	}

	.testimonial-img-2 {
		padding-left: 10px;
		padding-right: 0;

		img {
			margin-left: 10px;
			margin-right: 0;
		}
	}
}

.testimonials-style-4 {
	.testimonial-content {
		margin-bottom: 15px;
	}

	.testimonial-img-2 {
		margin-left: 10px;
		margin-right: 0;
	}

	.testimonial-author {
		text-align: right;

		span {
			float: left;
			padding-right: 5px;
			padding-left: 0;
		}
	}
}

/* List */
.custom-list-item {
	a {
		&:hover {
			padding-left: 0;
			padding-right: 5px;
		}
	}

	i {
		text-align: right;
	}
}


/* Horizontal tabs */
.wpb_tabs.wpb_content_element {
	.wpb_tabs_nav {
		li {
			a {
				i {
					margin-right: 10px;
					margin-left: 0;
					float: left;
				}
				&.icon-only i {
					margin-right: 0;
				}
			}
		}
	}
}

/* Vertical tabs */
.wpb_tour {
	.wpb_tour_tabs_wrapper {
		border-left: 2px solid;
		border-right: none;

		.wpb_tabs_nav {
			li {
				a {
					padding: 0 50px 0 20px;

					i {
						right: 20px;
						left: auto;
						float: right;
					}

					&.icon-only {
						padding-right: 20px;
					}

					&.text-only {
						padding-right: 25px;
					}
				}
			}
		}
		.wpb_tab {
			padding :0 40px 0 20px;
		}
	}

	&.tabs_minimal .wpb_tour_tabs_wrapper .wpb_tabs_nav {
		border-left: 2px solid $grey-dark;
		border-right: none;

		li {
			&:after {
				left: 0;
				right: auto;
			}
		}
	}

	&.tabs_classic {
		.wpb_tabs_nav {
			border-left: 1px solid $grey-border;
			border-right: none;

			li {
				a {
					border: 1px solid $grey-border;
					border-left: none;
					border-color: $grey-border;
				}

				&.ui-tabs-active {

					a {
						&:after {
							border-left: 1px solid #fff;
							border-right: none;
							right: 100%;
							left: auto;
						}
					}
				}
			}
		}
	}
}

/* Accordion */
.wpb_accordion {
	.wpb_accordion_wrapper {
		.wpb_accordion_header {
			a {
				padding: 0 15px 0 50px;
			}
		}
		.ui-state-default:after {
			left: 0;
			right: auto;
			@include rotate(180);
		}
		.ui-state-active:after {
			@include rotate(90);
		}
	}
}

/* Toggle */
.wpb_toggle,
#content h4.wpb_toggle {
	padding: 16px 30px 16px 0;

	&:after {
		right: 0;
		left: auto;
		@include rotate(180);
	}

	&.wpb_toggle_title_active:after {
		@include rotate(90);
	}
}
.wpb_toggle_content {
	padding: 0 30px 0 0;
}


/* Message box */
.vc_message_box {
	padding: 20px 60px 20px 20px;

	.vc_message_box-icon {
		right: 0;
		left: auto;
	}
}


/* Pricing box */
.pricing-box {
	.plan-price-small {
		right: 100%;
		left: auto;
	}
	.plan-currency {
		left: 100%;
		right: auto;
	}

	.plan-badge {
		left: -15px;
		right: auto;
	}
}

//Style 4
.pricing-box.box-fancy {
	.plan-header {
		.plan-price-wrapper {
			.plan-price-big {
				display: inline-block;
				.plan-price-small {
					right: auto;
					left: auto;
					margin-top: 7px;
					padding-right: 3px;
					padding-left: 0;
					float: left;
				}
				.plan-currency {
					right: 100%;
					left: auto;
					margin-right: 2px;
					margin-left: 0;
				}

			}
		}
	}
}

/* Dropcaps */
.twc_dropcaps {
	.twc_dc_inner {
		.dropcap {
			float: right;
		}
	}
}

/* Promo Box */
.twc_promo_box {
	&.twc_pb_simple .twc_pb_inner {
		.twc_pb_container {
			.twc_pb_second {
				.twc_pb_heading {
					text-align: right;
				}
				.twc_pb_text {
					text-align: right;
				}
			}
			.twc_pb_third {
				.twc_pb_button {
					margin-left: 0;
					margin-right: 40px;

					&:nth-child(2) {
						margin-left: 0;
						margin-right: 20px;
					}
				}
			}
		}
	}
	&.twc_pb_boxed .twc_pb_inner {
		.twc_pb_container {
			.twc_pb_second {
				.twc_pb_heading {
					text-align: right;
				}
				.twc_pb_text {
					text-align: right;
				}
			}
			.twc_pb_third {
				.twc_pb_button {
					margin-left: 0;
					margin-right: 50px;

					&:nth-child(2) {
						margin-left: 0;
						margin-right: 20px;
					}
				}
			}
		}
	}
	&.twc_pb_centered .twc_pb_inner {
		.twc_pb_container {
			.twc_pb_third {
				.twc_pb_button {
					&:nth-child(2) {
						float: left;
						margin-left: 0;
						margin-right: 20px;
					}
				}
			}
		}
	}
}


/* Image Gallery */
.twc_image_gallery {
	.twc_ig_container {
		.twc_ig_wrapper {
			float: right;
		}
	}
}



/*
WOOCOMMERCE
*/

/* Menu Cart Widget */
#site-header #site-navigation .header_cart_wrapper {

	.header_cart_widget {
		left: 0;
		right: auto;

		&:before, &:after {
			right :auto;
			left: 11px;
		}

		.woocommerce {
			margin: 0;
			padding: 0;

			ul li {
				float:none;
				padding: 10px 0;

				.quantity {
					padding: 0 0 0 10px;
					text-align: right;
				}

				a.remove {
					margin-right: 0;
					margin-left: 5px;
				}
			}

			.total {
				text-align: right;
				margin: 10px 0 10px;

				span {
					float: left;
				}
			}

			.buttons {
				margin: 20px 0 0;
				text-align: left;

				a {
					&:first-child {
						margin-left: 10px;
						margin-right: 0;
						float: right;
						padding: 0 0 0 5px;
					}
				}
			}

			.variation {
				border-left:none
			}

			dl {
				padding:0;
				margin:.25em 0 .5em;

				dt {
					float:left;
					clear:left;
					margin:0 .25em 0 0;

					dd {
						margin:0 0 .25em;
					}
				}
			}

			ul.product_list_widget li {
				img {
					float: right;
					margin-right: 0;
					margin-left: 10px;
				}
			}
		}

	}
}

//Shopping cart widget
.woocommerce, .woocommerce-page {
	.widget_shopping_cart {
	ul li {
			float:none;
			padding: 10px 0;

			.quantity {
				padding: 0 0 0 10px;
				text-align: right;
			}

			a.remove {
				margin-right: 0;
				margin-left: 5px;
			}
		}

		.total {
			text-align: right;
			margin: 10px 0 10px;

			span {
				 float: left;
			}
		}

		.buttons {
			margin: 20px 0 0;
			text-align: left;

			a {
				 &:first-child {
					 margin-left: 10px;
					 margin-right: 0;
					 float: right;
					 padding: 0 0 0 5px;
			 	}
			}
		}

		.variation {
			border-left:none
		}

		dl {
			padding:0;
			margin:.25em 0 .5em;

			dt {
				float:left;
				clear:left;
				margin:0 .25em 0 0;

				dd {
					margin:0 0 .25em;
				}
			}
		}

		ul.product_list_widget li {
			img {
				 float: right;
				 margin-right: 0;
				 margin-left: 10px;
			}
		}
	}
}

//Price filter
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce-page .widget_price_filter .price_slider_amount .button {
	float: right;
}
.woocommerce .widget_price_filter .price_slider_amount .price_label,
.woocommerce-page .widget_price_filter .price_slider_amount .price_label {
	text-align: left;
}

// Search
.widget_product_search {
	overflow: visible !important;
	padding: 0 !important;

	.woocommerce-product-search {
		padding: 0 !important;
	}
}

// Categories
.woocommerce, .woocommerce-page {
	.product-categories {
		& > li.cat-item {

			&:before {
				padding-left: 8px;
				padding-right: 0;
				display: inline-block;
				line-height: 1.5;
			}
			.children {

				li {
					margin-right: 25px;
					margin-left: 0;

					&:before {
						display: inline-block;
						line-height: 1.5;
						@include rotate(180);

					}
				}
			}
		}
	}
}

//WooCommerce ordering
.woocommerce, .woocommerce-page {
	.woocommerce-ordering {
		float: left;

		&:before {
			left: 0;
			right: auto;
			border-right: 1px solid $grey-border;
			border-left: none;
		}

		&:after {
			left: 0;
			right: auto;
		}
	}

	.woocommerce-result-count {
		float: right;
	}
}


// Products
.woocommerce a.added_to_cart:before,
.woocommerce-page a.added_to_cart:before {
	padding-left: 10px;
	padding-right: 0;
}


/* Item list */
.shop-template h3,.entry-content .woocommerce h3 {
	text-align:right
}

.woocommerce a.add_to_cart_button.button:before {
	content:"";
	padding:0;
	margin:0
}

.woocommerce ul.products li.product .onsale,.woocommerce-page ul.products li.product .onsale {
	right:auto;
	left:0
}

/* General */
.woocommerce #content div.product .woocommerce-product-rating .star-rating, .woocommerce-page #content div.product .woocommerce-product-rating .star-rating {
	float: right;
}

.woocommerce #content div.product .woocommerce-product-rating .woocommerce-review-link, .woocommerce-page #content div.product .woocommerce-product-rating .woocommerce-review-link {
	margin-left: 0;
	margin-right: 10px;
}

.shop-template h2,.entry-content .related h2 {
	text-align:right
}

.woocommerce-message .button,.woocommerce-error .button,.woocommerce-info .button {
	float:left
}

.woocommerce form .form-row-first,.woocommerce form .form-row-last,.woocommerce-page form .form-row-first,.woocommerce-page form .form-row-last {
	float:right
}

.woocommerce form .form-row-last,.woocommerce-page form .form-row-last {
	float:left;
	text-align:right
}

/* Flipping single product page */
.woocommerce div.product form.cart div.quantity,.woocommerce #content div.product form.cart div.quantity,.woocommerce-page div.product form.cart div.quantity,.woocommerce-page #content div.product form.cart div.quantity {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}

.woocommerce div.product form.cart .button,.woocommerce #content div.product form.cart .button,.woocommerce-page div.product form.cart .button,.woocommerce-page #content div.product form.cart .button {
	float:right
}

.woocommerce div.product div.images,.woocommerce #content div.product div.images,.woocommerce-page div.product div.images,.woocommerce-page #content div.product div.images {
	float:right
}

.woocommerce div.product div.summary,.woocommerce #content div.product div.summary,.woocommerce-page div.product div.summary,.woocommerce-page #content div.product div.summary {
	float:left
}

.woocommerce span.onsale,.woocommerce-page span.onsale {
	left:auto;
	right:0
}

.woocommerce .star-rating,.woocommerce-page .star-rating {
	float:left
}

/* Comments */
.woocommerce #reviews #comments ol.commentlist li .comment-text,.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	margin:0 50px 0 0
}

.woocommerce #review_form .comment-form-author,.woocommerce-page #review_form .comment-form-author,.woocommerce #review_form .comment-form-email,.woocommerce-page #review_form .comment-form-email,.woocommerce #review_form .comment-form-rating,.woocommerce-page #review_form .comment-form-rating {
	float:right;
	margin-left:4%;
	margin-right:0
}

.woocommerce p.stars span,.woocommerce-page p.stars span {
	float:right
}

/* Cart and checkout */
.woocommerce th {
	text-align:right
}

.woocommerce table.shop_table,.woocommerce-page table.shop_table {
	text-align:right
}

.woocommerce .cart-collaterals .cart_totals,.woocommerce-page .cart-collaterals .cart_totals {
	text-align:left
}

.woocommerce, .woocommerce-page {
	.cart-collaterals {
		.cart_totals {
			float: left;
		}
	}
}

.woocommerce #payment ul.payment_methods li,.woocommerce-page #payment ul.payment_methods li {
	text-align:right
}

.woocommerce .col2-set .col-1,.woocommerce-page .col2-set .col-1 {
	float:right
}

.woocommerce .col2-set .col-2,.woocommerce-page .col2-set .col-2 {
	float:left
}

.woocommerce, .woocommerce-page #content {
	table.cart {
		.cart_item {
			.product-quantity {

				input {
					float: right;
				}
			}
		}
		tr .actions {
			.coupon {
				float: right;

				input[name="coupon_code"] {
					font-size: 12px;
					padding: 5px 10px;
					border-radius: 2px;
				}
			}

			input[name="update_cart"] {
				float: left;

				&:hover {
					background: none;
					background-color: #fff;
					color: $text-dark;
				}
			}
		}
	}
}




/* CONTACT FORM 7 */
.wpcf7 input.wpcf7-file {
	padding-left:10px;
	padding-right:0
}

div.wpcf7 img.ajax-loader {
	margin-left:0;
	margin-right:20px
}


/*---------------------------------------------------------------*/
/* 12. Responsive
/*---------------------------------------------------------------*/

/* Large screens */
@media only screen and (min-width : 1260px) {
	#site-logo {
		right: 15px;
	}
}

/* Menu paddings for boxed header */
@media only screen and (max-width : 1150px) {
	#site-logo {
		right: 30px;
		left:auto
	}

	#site-navigation {
		margin-right:0;
	}

	.page-header {
		.row-inner {
			padding-left: 30px !important;
			padding-right: 30px !important;
		}
	}
}

/*
	* -------------------------------------------------------------------------------------------
	* ALL DEVICES STARTING TABLET PORTRAIT
	* -------------------------------------------------------------------------------------------
	*/
@media only screen and (max-width: 979px) {
	.breadcrumbs-trail {
		float:right
	}

	/* Comment form */
	.col_container .col_3 {
		padding-left:0;
		padding-right:inherit
	}
}

/*
	* -------------------------------------------------------------------------------------------
	* MOBILE PORTRAIT & LOWER
	* -------------------------------------------------------------------------------------------
	*/
@media only screen and (max-width: 479px) {
	/* Definition list*/
	dt {
		text-align:right
	}

	/* Posts */
	.previous_post_link a:before {
		margin-right:0;
		margin-left:5px
	}

	/* Buttons */
	.vc_btn,.wpb_button {
		margin-left:0
	}

	/* Comment form */
	#comments .children .comment-body {
		padding-right:40px;
		padding-left:0
	}

	#comments .comment-list .children {
		padding-left:inherit;
		padding-right:0
	}
}

/*------------------------------------------------------------------------------*/
/* THANK YOU FOR CHOOSING OUR THEME! - The White Collars | http://whithecollars.co
/*------------------------------------------------------------------------------*/